html body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #0f0f0f;
    animation: fadeInAnimation ease 3s;
    scroll-behavior: smooth;
    font-size: 2.75vh;
}

.logo img {
    width: 60px;
    position: fixed;
    top: 0px;
    border-radius: 50%;
}

#icon {
    width: 35px;
}

.icons img, .arrow, .card-body img {
    width: 35px;
    border-radius: 50%;
}

#home {
    position: absolute;
    width: 100%;
}

.container {
    margin-top: 40vh;
    color: white;
}

.name {
    text-align: center;
    font-weight: bold;
    font-size: 9vh;
    letter-spacing: 0.2vh;
}

.icons {
    margin: 1%;
}

.icons a {
    text-decoration: none;
    margin: 1%;
}

.container .main {
    height: 60vh;
    text-align: center;
}

.down {
    text-align: center;
    margin-top: 28vh;
}

#about {
    text-align: center;
    font-weight: bold;
    font-size: 4vh;
    letter-spacing: 0.2vh;
    animation: typing 3.5s steps(15), blink .233s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    width: 13ch;
    animation-iteration-count: infinite;
    margin-top: 5vh;
}

.wrapper {
    display: grid;
    place-items: center;
}

#kwan {
    width: 40%;
    border-radius: 50%;
    margin-top: 5vh;
}

.intro {
    padding-top: 5vh;
}

.margin {
    margin-bottom: 20vh;
    text-align: center;
}

.med-margin {
    margin-bottom: 10vh;
    text-align: center;
}

.small-margin {
    margin-bottom: 5vh;
    text-align: center;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 4vh;
    letter-spacing: 0.2vh;
    margin-bottom: 5vh;
}

.subtitle {
    font-weight: bold;
}

.logo:hover, .arrow:hover, .icons img:hover {
    opacity: 0.25;
    transition-duration: 0.4s;
}

#projects {
    margin-left: 7%;
    margin-right: 7%;
}

.card-img:hover {
    filter: brightness(60%);
    transition-duration: 0.4s;
}

.skills {
    word-spacing: 2vh;
}

.btn {
    margin-top: 5vh;
}

.copyright {
    text-align: center;
}

.rights {
    opacity: 0.25;
}

.subtitle a, .experience a, .project a {
    text-decoration: none;
}

@keyframes typing {
    from {
      width: 0
    }
}
      
 @keyframes blink {
    50% {
      border-color: transparent
    }
 }

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
