html body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #0f0f0f;
    animation: fadeInAnimation ease 3s;
    scroll-behavior: smooth;
}

.logo img {
    width: 60px;
    position: fixed;
    top: 0px;
    border-radius: 50%;
}

#linkedin, #github, #email, #resume, #arrow, #arrowup {
    width: 30px;
    border-radius: 50%;
}

#home {
    position: absolute;
    width: 100%;
}

.container {
    margin-top: 40vh;
    color: white;
}

.name {
    text-align: center;
    font-weight: bold;
    font-size: 9vh;
    letter-spacing: 0.2vh;
}

.links {
    text-align: center;
    margin: 1%;
}

.links a {
    text-decoration: none;
    margin: 1%;
}

.container .main {
    height: 60vh;
}

.down {
    text-align: center;
    margin-top: 28vh;
}

#about {
    text-align: center;
    font-weight: bold;
    font-size: 4vh;
    letter-spacing: 0.2vh;
    animation: typing 3.5s steps(14), blink .25s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    width: 13ch;
    animation-iteration-count: infinite;
    margin-top: 5vh;
}

.wrapper {
    /*This part is important for centering*/
    display: grid;
    place-items: center;
}

#kwan {
    width: 30%;
    border-radius: 50%;
    margin-top: 5vh;
}

.intro {
    padding-top: 5vh;
}

.experience, .leadership, .intro {
    font-size: 3vh;
}

.rowbottom {
    margin-bottom: 20vh;
    text-align: center;
}

.arrowspace {
    margin-bottom: 10vh;
    text-align: center;
}

.bottom {
    margin-bottom: 5vh;
    text-align: center;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 4vh;
    letter-spacing: 0.2vh;
    margin-bottom: 5vh;
}

.subtitle {
    font-size: 3vh;
    letter-spacing: 0.2vh;
    font-weight: bold;
}

.contact {
    font-size: 3vh;
}

.project {
    letter-spacing: 0.2vh;
    font-weight: bold;
    font-size: 3vh;
}

.detail {
    letter-spacing: 0vh;
    font-weight: normal;
    font-size: 3vh;
}

#icon:hover, .card img:hover, .title:hover, #about:hover, #arrow:hover, #arrowup:hover, .name:hover, #github:hover, #email:hover, #linkedin:hover, .skillstitle:hover, #resume:hover {
    opacity: 0.25;
}

.skillstitle {
    text-align: center;
    font-weight: bold;
    font-size: 4vh;
    letter-spacing: 0.2vh;
}

.skills {
    word-spacing: 2vh;
    justify-content: center;
}

.btn {
    margin-top: 5vh;
}

.copyright {
    text-align: center;
    font-size: 2.5vh;
}

.rights {
    opacity: 0.25;
    font-size: 2.5vh;
}

.subtitle a, .experience a, .project a {
    text-decoration: none;
}

@keyframes typing {
    from {
      width: 0
    }
}
      
 @keyframes blink {
    50% {
      border-color: transparent
    }
 }

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}